:root {
  --primary-color-H: 220;
  --primary-color-S: 18%;
  --primary-color-L: 30%;
  --primary-color-darker: calc(var(--primary-color-L) - 10%);
  --secondary-color-H: 37;
  --secondary-color-S: 64%;
  --secondary-color-L: 85%;
  --secondary-color-darker: calc(var(--secondary-color-L) - 10%);
}

.App h1 {
  padding-top: 121px;
  padding-bottom: 48px;
  font-size: 55px;
  font-family: "Lora", serif;
  font-weight: bold;
  font-style: italic;
  color: hsl(
    var(--primary-color-H),
    var(--primary-color-S),
    var(--primary-color-L)
  );
}
