.Meaning {
  padding-left: 1rem;
}
.Meaning h5 {
  font-family: "Lora", serif;
  font-size: 22px;
  font-style: italic;
  margin: 0;
  padding: 0;
  padding: 0.5em;
  color: hsl(var(--primary-color-H), var(--primary-color-S), 20%);
  padding-bottom: 1em;
  text-transform: capitalize;
}
.Meaning .definition-results {
  margin: 0;
  padding: 0;
  padding-left: 1.5em;
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
}

.Meaning .definition-results p {
  margin: 0;
  padding: 0;
  padding-bottom: 0.1em;
}

.Meaning .example {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-bottom: 0.3em;
  font-style: italic;
  font-weight: 100;
  color: hsl(0, 0%, 40%);
}

.Meaning .synonyms {
  margin: 0;
  padding: 1rem 0;
  padding-left: 1rem;
  font-style: italic;
  font-weight: 100;
  color: hsl(0, 0%, 40%);
}
.Meaning .synonyms ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
